*{
    padding: 0px;
    margin: 0px;
}
body {
    background: linear-gradient(-45deg,#FFDADA,#F6C6EA,#A4EBF3,#CCF2F4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;   
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0 ;
}
.col-1{
    flex-basis:50%;
    position: relative;
    margin-left: 70px;
    margin-top: 20px;
}
.col-1 h1{
    font-family: 'EB Garamond', serif;
    font-size:54px;
    color:#4C0033 ;
}
.col-1 h3{
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color:#4C0033;
    font-weight: 400;
    margin:20px 0 10px;
}
button{
    width: 250px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right,#EE6983 ,#EC7272);
    border-radius: 20px;
    cursor: pointer;
}
a{
    color: #F0EBE3;
    font-size: 18px;
    font-style: none;
}
.col-1::after{
    content: '';
    width:10px;
    height: 100%;
    background: linear-gradient(#fb5283,#ff3527);
    position: absolute;
    left:-40px;
    top:8px;
}
.col-2{
    position: relative ;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .girl{
    width: 70%;
    padding-left: 380px;
    padding-top: 190px;
    z-index: 1;
}
.col-2 .background{
    position: absolute;
    width:80%;
    height: 90%;
    padding-bottom: 250px;
    padding-left: 50px;
}
.col-2 .girl{
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
}
.col-2 .background{
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
}
@keyframes floating-animation {
    
    
    0%{
        -webkit-animation: translateY(0px) ;
        -moz-transform: translateY(0px) ;
        -ms-transform:translateY(0px) ;
        -o-transform:translateY(0px) ;
        transform:translateY(0px) ;
    }
    50%{
        -webkit-animation: translateY(-20px) ;
        -moz-transform: translateY(-20px) ;
        -ms-transform:translateY(-20px) ;
        -o-transform:translateY(-20px) ;
        transform:translateY(-20px) ;
    }
    100%{
        -webkit-animation: translateY(0px) ;
        -moz-transform: translateY(0px) ;
        -ms-transform:translateY(0px) ;
        -o-transform:translateY(0px) ;
        transform:translateY(0px) ;
    }
    
}
@media only screen and (max-width: 700px) and (min-width: 100px){
    .container{
        width: 100%;
        padding: 20px;
        margin: 2px;
    }
    .row{
        flex-direction: column;
        align-content: center;
    }
    .col-1{
        flex-basis: 100%;
        margin-bottom: 30px;
        align-content: center;
    }
    .col-2{
        flex-basis: 100%;
        align-content: center;
    }
    .col-2 .background{
        width: 50%;
        align-content: center;
        padding-top: 200px;
    }
}